.scroll-container{
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-top: 5px;
    margin-inline: 10px;
    padding: 3px;
    width: 97%;
    height:  1.5vmin;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #111;
    border-radius: 2px;
    border: solid 1px #344;
}

.scroll-indicator{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: #f93;
    border-radius: 2px;
    align-self: flex-start;
    width: 0%;
    transition: width 0.25s;
}