* {
  overflow-x: hidden;
}

.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
  color: white;
  overflow-x: hidden;
}


.App-header {
  position: sticky;
  top: 0px;
  width:100%;
  overflow-x: hidden;
  padding: 1rem;
  max-height: 2rem;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2{
  margin: 0px;
  width:100%;
  overflow-x: hidden;
  padding: 1rem;
  max-height: 2rem;
  background-color: #1a1b1d;
  border-top: 3px solid #3b414d;
  
  font-size: calc(8px + 2vmin);
  color: white;
  font-weight: 300;
}

button{
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #101010;
  color: white;
  border: none;
  cursor: pointer;
  border: solid 1px #3b414d;
  margin-inline: 5px;
}



